<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @physical_product.product %>
</p>

<%= link_to 'Edit', edit_physical_product_path(@physical_product) %> |
<%= link_to 'Back', physical_products_path %>
