<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @payment.total %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state %>
</p>

<%= link_to 'Edit', edit_order_path(@payment) %> |
